{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">#}
</head>
<body>
    <aside>
        <img src="{% static 'main/img/21.png' %}" alt="">
        <span class="logo">21</span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Main</li></a>
            <a href="{% url 'about' %}"><li>About</li></a>
            <a href=""><li>Contacts</li></a>
            <a href="{% url 'news_home' %}"><li>News</li></a>
            <a href=""><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add note</button></li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>